Repository grakeice/nextjs-todo: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

add:storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  biome.json
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  vitest.config.ts
  vitest.shims.d.ts
Due: biome check --write, biome format --write

lib: Task型定義、ファクトリ関数定義
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/Todo/Task.ts
Due: biome check --write, biome format --write

init: shadcn/ui
  components.json
  src/app/api/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/lib/utils.ts
Due: biome check --write, biome format --write

fix: createTaskはstringによる入力に
  src/lib/Todo/Task.ts
Due: biome check --write

fix: 関数editTaskの引数名を変更
  src/lib/Todo/Task.ts
Due: biome check --write

fix: Task.tsのバリデーション設計
  .vscode/mcp.json
  src/lib/Todo/Task.ts
Due: biome check --write, biome format --write

feature: apiサーバーはhonoを挟むように
  package.json
  pnpm-lock.yaml
  src/app/api/[[...route]]/_server/server.ts
  src/app/api/[[...route]]/_server/tasks/server.ts
  src/app/api/[[...route]]/route.ts
  src/app/api/route.ts
  src/lib/Todo/Task.ts
Due: biome check --write, biome format --write

setup prisma
  .lintstagedrc.yaml
  apps/backend/.gitignore
  apps/backend/package.json
  apps/backend/prisma/migrations/20251022070534_init/migration.sql
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/main.ts
  apps/backend/src/prisma/prisma.service.spec.ts
  apps/backend/src/prisma/prisma.service.ts
  apps/backend/src/task/task.controller.spec.ts
  apps/backend/src/task/task.controller.ts
  apps/backend/src/task/task.module.ts
  apps/backend/src/task/task.service.spec.ts
  apps/backend/src/task/task.service.ts
  apps/backend/tsconfig.build.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/tsconfig.json
  mise.toml
  pnpm-lock.yaml
Due: biome check --write, biome format --write

authservice作りかけ
  apps/backend/.gitignore
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.spec.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/main.ts
  apps/backend/src/schema.gql
  apps/backend/src/task/task.controller.spec.ts
  apps/backend/src/task/task.controller.ts
  apps/backend/src/task/task.module.ts
  apps/backend/src/task/task.service.ts
  apps/backend/src/users/dto/create-user.input.ts
  apps/backend/src/users/dto/update-user.input.ts
  apps/backend/src/users/entities/user.entity.ts
  apps/backend/src/users/users.module.ts
  apps/backend/src/users/users.resolver.spec.ts
  apps/backend/src/users/users.resolver.ts
  apps/backend/src/users/users.service.spec.ts
  apps/backend/src/users/users.service.ts
  apps/backend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

update packages
  package.json
  pnpm-lock.yaml
Due: biome format --write

ユーザー認証が完成
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.resolver.spec.ts
  apps/backend/src/auth/auth.resolver.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/login-response.ts
  apps/backend/src/auth/dto/login-user.input.ts
  apps/backend/src/auth/guards/gql-auth.guards.ts
  apps/backend/src/auth/guards/jwt-auth.guards.ts
  apps/backend/src/auth/strategies/jwt.stragegy.ts
  apps/backend/src/auth/strategies/local.strategy.ts
  apps/backend/src/schema.gql
  apps/backend/src/users/users.module.ts
  apps/backend/src/users/users.resolver.ts
  apps/backend/src/users/users.service.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

taskのbackendが実装完了したっぽい？
  apps/backend/src/app.module.ts
  apps/backend/src/auth/guards/jwt-auth.guards.ts
  apps/backend/src/schema.gql
  apps/backend/src/tasks/dto/create-task.input.ts
  apps/backend/src/tasks/dto/update-task.input.ts
  apps/backend/src/tasks/entities/task.entity.ts
  apps/backend/src/tasks/tasks.module.ts
  apps/backend/src/tasks/tasks.resolver.spec.ts
  apps/backend/src/tasks/tasks.resolver.ts
  apps/backend/src/tasks/tasks.service.spec.ts
  apps/backend/src/tasks/tasks.service.ts
  apps/backend/src/users/entities/user.entity.ts
Due: biome check --write

公式ドキュメントの導くままにApolloWrapperを作成
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/graphql/ApolloWrapper.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

fix: user resolverのauthguardを追加
  apps/backend/src/users/users.resolver.ts
Due: biome check --write

"削除すべきかもしれない"を追加
  apps/backend/src/users/users.resolver.ts
Due: biome check --write

gqlをフロントで使えるように
  .graphqlrc.yaml
  apps/backend/package.json
  apps/backend/src/main.ts
  apps/backend/src/schema.gql
  apps/backend/src/users/users.resolver.ts
  apps/frontend/.gitignore
  apps/frontend/codegen.ts
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/signup.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

frontend
  apps/frontend/components.json
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/card.tsx
  apps/frontend/src/components/ui/field.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/label.tsx
  apps/frontend/src/components/ui/navigation-menu.tsx
  apps/frontend/src/components/ui/separator.tsx
  apps/frontend/src/components/ui/sonner.tsx
  apps/frontend/src/lib/utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write, biome format --write

set-cookie headerが付いたよ〜
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.resolver.ts
  apps/backend/src/auth/guards/gql-auth.guards.ts
  apps/backend/src/main.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

gqlでaccess_tokenを取れないように
  apps/backend/src/auth/auth.resolver.ts
  apps/backend/src/auth/dto/login-response.ts
  apps/backend/src/schema.gql
Due: biome check --write

動きます
  apps/backend/src/auth/auth.resolver.ts
  apps/backend/src/auth/strategies/jwt.stragegy.ts
  apps/frontend/package.json
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/graphql/ApolloWrapper.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

サインアウトできるように
  apps/backend/src/auth/auth.resolver.ts
  apps/backend/src/schema.gql
Due: biome check --write

一旦
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/components/ui/avatar.tsx
  apps/frontend/src/components/ui/input-group.tsx
  apps/frontend/src/components/ui/navigation-menu.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/context/AccountContext.tsx
  pnpm-lock.yaml
Due: biome check --write, biome format --write

直ってない
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/context/AccountContext.tsx
Due: biome check --write

一応動く
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/atoms/userData.ts
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/graphql/ApolloWrapper.tsx
  apps/frontend/src/hooks/useAccount.ts
  package.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

ログが出ないように
  apps/backend/src/auth/auth.resolver.ts
Due: biome check --write

パッケージのバージョンアップ
  package.json
  pnpm-lock.yaml
Due: biome format --write

サイドバー
  apps/frontend/.prettierrc.yaml
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/atoms/userData.ts
  apps/frontend/src/components/common/AppSidebar/AppSidebar.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/AppSidebar/index.ts
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/components/ui/dropdown-menu.tsx
  apps/frontend/src/components/ui/field.tsx
  apps/frontend/src/components/ui/navigation-menu.tsx
  apps/frontend/src/components/ui/sheet.tsx
  apps/frontend/src/components/ui/sidebar.tsx
  apps/frontend/src/components/ui/skeleton.tsx
  apps/frontend/src/components/ui/tooltip.tsx
  apps/frontend/src/context/AccountContext.tsx
  apps/frontend/src/hooks/use-mobile.ts
  apps/frontend/src/schema/signInSchema.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

update packages
  apps/backend/package.json
  apps/frontend/package.json
  pnpm-lock.yaml
Due: biome format --write

ログイン後にheaderがでないように
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/common/AppSidebar/AppSidebar.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/Header.tsx
Due: biome check --write

modalをrouteに入れた
  apps/frontend/src/app/@modal/(.)new/page.tsx
  apps/frontend/src/app/@modal/default.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/new/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.ts
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/ui/dialog.tsx
  pnpm-lock.yaml
Due: biome check --write

一旦コミット
  .vscode/settings.json
  apps/backend/package.json
  apps/backend/src/users/users.resolver.ts
  apps/frontend/codegen.ts
  apps/frontend/package.json
  apps/frontend/schema.gql
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/atoms/userData.ts
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/GqlClientProvider.tsx
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/graphql/execute.ts
  apps/frontend/src/graphql/fragment-masking.ts
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/graphql/index.ts
  apps/frontend/src/hooks/useAccount.flow.dio.png
  apps/frontend/src/hooks/useAccount.ts
  apps/frontend/src/hooks/useAccount_legacy.ts
  apps/frontend/src/stores/userDataStore.ts
  apps/frontend/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome check --write, biome format --write

upgrade packages
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: biome format --write

動いた！！！！！
  apps/frontend/package.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/graphql/ApolloWrapper.tsx
  apps/frontend/src/graphql/execute.ts
  apps/frontend/src/hooks/useAccount.ts
  apps/frontend/src/hooks/useAccount_legacy.ts
  pnpm-lock.yaml
Due: biome check --write, biome format --write

いい感じに動くようになった
  apps/backend/src/users/users.resolver.ts
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/GqlClientProvider.tsx
  apps/frontend/src/components/common/Header.tsx
  apps/frontend/src/graphql/execute.ts
  apps/frontend/src/hooks/useAccount.ts
Due: biome check --write

feature: ユーザー登録機能
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/schema/accountSchema.ts
  apps/frontend/src/schema/signInSchema.ts
Due: biome check --write

settings: add extensions.json
  .vscode/extensions.json
Due: biome format --write

remove: stores
  apps/frontend/src/stores/userDataStore.ts
Due: biome check --write

fix: update prisma settings
  .vscode/extensions.json
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/main.ts
  apps/backend/src/prisma/prisma.service.ts
  apps/backend/src/tasks/dto/create-task.input.ts
  apps/backend/src/tasks/dto/update-task.input.ts
  apps/backend/src/tasks/entities/task.entity.ts
  apps/backend/src/tasks/tasks.service.ts
  apps/backend/src/users/users.service.ts
  apps/backend/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write, biome format --write

Path conditions:
  biome check --write: any of: *.{js,mjs,jsx,ts,tsx}
  biome format --write: any of: *.{json,css}
