Repository grakeice/nextjs-todo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter backend exec prisma format, pnpm --filter frontend exec eslint --fix

feature: ユーザー設定画面にユーザー名を表示
  apps/frontend/src/app/user/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: ユーザー設定画面の実装
  apps/backend/src/schema.gql
  apps/backend/src/users/dto/update-user.input.ts
  apps/frontend/schema.gql
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/user/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/Loading.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/schema/accountSchema.ts
Due: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec eslint --fix

migration: Add column "sortOrder" into Task Table
  apps/backend/prisma/migrations/20251212051053_add_sort_order_field/migration.sql
Due: none

fix: ユーザー情報編集のバグを修正
  apps/backend/prisma/schema.prisma
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/app/user/page.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/schema/accountSchema.ts
Due: prettier --write, pnpm --filter backend exec prisma format, pnpm --filter frontend exec eslint --fix

feature: 日付をクリアボタンの実装
  apps/frontend/src/components/common/EditTask/index.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: レイアウトの調整
  apps/frontend/src/app/new/page.tsx
  apps/frontend/src/app/tasks/[id]/page.tsx
  apps/frontend/src/app/user/page.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: レイアウトの調整
  apps/frontend/src/app/account/page.tsx
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/common/TaskTable/data-table.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: TODO filterと並び替え
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/common/TaskTable/data-table.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

update docker-compose.yaml
  docker-compose.yaml
Due: prettier --write

packages: upgrade
  apps/backend/package.json
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 現在位置が分かるように
  apps/backend/package.json
  apps/frontend/package.json
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: テーブルのRow全体をクリック可能に
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/common/TaskTable/data-table.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: バッジを押して直接タスクのステータスを切り替えられるように
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: サインアウト時はサイドバーを表示させないように
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: エラーメッセージの修正
  apps/backend/src/users/users.resolver.ts
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/lib/Errors.ts
Due: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec eslint --fix

fix
  apps/frontend/src/app/signup/page.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

add precommit task: tsc --noEmit
  .husky/pre-commit
Due: none

fix: スタイルを調整
  apps/frontend/src/components/common/TaskTable/columns.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

Path conditions:
  prettier --write: ((any of: apps/backend/**/*.{ts,tsx,js,jsx,mjs}) or (any of: apps/frontend/**/*.{ts,tsx,js,jsx,mjs})) or (any of: *.{json,md,yaml,yml,css,html})
  pnpm --filter backend exec eslint --fix: any of: apps/backend/**/*.{ts,tsx,js,jsx,mjs}
  pnpm --filter backend exec prisma format: any of: apps/backend/**/*.prisma
  pnpm --filter frontend exec eslint --fix: any of: apps/frontend/**/*.{ts,tsx,js,jsx,mjs}
