Repository grakeice/nextjs-todo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter backend exec prisma format, pnpm --filter frontend exec eslint --fix

.lintstagedrc.yaml:

"apps/backend/**/*.{ts,tsx,js,jsx,mjs}":
  - "prettier --write"
  - "pnpm --filter backend exec eslint --fix"

"apps/backend/**/*.prisma":
  - "pnpm --filter backend exec prisma format"

"apps/frontend/**/*.{ts,tsx,js,jsx,mjs}":
  - "prettier --write"
  - "pnpm --filter frontend exec eslint --fix"

"*.{json,md,yaml,yml,css,html}":
  - "prettier --write"

fix: dbはdockerで起動
  apps/backend/.gitignore
  apps/backend/docker-compose.postgres.yaml
  apps/backend/package.json
  apps/backend/prisma.config.ts
  apps/backend/prisma/migrations/20251205051250_init/migration.sql
  apps/backend/src/main.ts
  apps/backend/src/prisma/prisma.service.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, pnpm --filter backend exec eslint --fix

fix: フォームを日本語化
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: headerを削除
  .vscode/mcp.json
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/new/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/Header.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: ルートページにローディングアニメーションを追加
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ui/empty.tsx
  apps/frontend/src/components/ui/spinner.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: タスク作成フォームを作成中
  apps/frontend/package.json
  apps/frontend/src/app/new/page.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/ui/button-group.tsx
  apps/frontend/src/components/ui/calendar.tsx
  apps/frontend/src/components/ui/popover.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/schema/todoSchema.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: expireAtがuncontrolledなことを修正
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/schema/todoSchema.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: 未来の日付を選択できるように
  apps/frontend/src/app/@modal/(.)new/page.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/ui/calendar.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: アクセシビリティを改善
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/ui/calendar.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: passwordを取得できないように
  apps/backend/prisma/schema.prisma
  apps/backend/src/prisma/prisma.service.ts
  apps/backend/src/schema.gql
  apps/backend/src/users/entities/user.entity.ts
  apps/frontend/schema.gql
  apps/frontend/src/graphql/graphql.ts
Due: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter backend exec prisma format, pnpm --filter frontend exec eslint --fix

upgrade packages
  apps/backend/package.json
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write

feature: タスク作成フォーム完成
  apps/frontend/package.json
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/ui/alert-dialog.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/schema/todoSchema.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: サインイン済みなら"/signin"から"/"へredirectされるように
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/components/common/AppSidebar/components/ClientComponents.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: タスク一覧ページの作成
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/atoms/userData.ts
  apps/frontend/src/components/common/AppSidebar/index.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

package: shadcn tableとTanStack Tableの導入
  apps/frontend/package.json
  apps/frontend/src/components/ui/table.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

settings: 自動生成ファイルにreadonly設定を付与
  .vscode/settings.json
Due: prettier --write

fix: ログイン失敗と未ログインの区別・toast
  apps/backend/src/auth/strategies/local.strategy.ts
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/common/ToastErrorDescription.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/hooks/useAccount.ts
  apps/frontend/src/schema/accountSchema.ts
Due: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec eslint --fix

feature: タスク一覧
  apps/frontend/codegen.ts
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/ui/data-table.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/hooks/useTasks.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: タスクが編集可能に
  apps/frontend/src/app/@modal/(...)new/page.tsx
  apps/frontend/src/app/@modal/(...)tasks/[id]/page.tsx
  apps/frontend/src/app/tasks/[id]/page.tsx
  apps/frontend/src/app/tasks/page.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/hooks/useTask.ts
  apps/frontend/src/hooks/useTaskList.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: タスク一覧に進行状況を示すバッジを付けた
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/ui/badge.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: 削除ボタン
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/ui/data-table.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: lucide icon使用時のコンポーネント名をﾅﾝﾄｶIConに統一
  apps/frontend/src/components/common/TaskTable/columns.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: gqlエンドポイントへのリクエストURLを絶対パスに
  apps/backend/src/auth/auth.resolver.ts
  apps/frontend/src/graphql/execute.ts
Due: prettier --write, pnpm --filter backend exec eslint --fix, pnpm --filter frontend exec eslint --fix

package: upgrade
  apps/frontend/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: EditTaskをDOM状態に依存しない形での実装に変更
  apps/frontend/src/components/common/EditTask/index.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: fix some issues
  apps/frontend/src/components/common/EditTask/index.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: React Compilerを有効化
  apps/frontend/next.config.ts
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: ダークモード対応
  apps/frontend/components.json
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/signin/page.tsx
  apps/frontend/src/app/signup/page.tsx
  apps/frontend/src/components/common/AppSidebar/index.tsx
  apps/frontend/src/components/common/EditTask/index.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/theme-provider.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: zodのエラーメッセージの日本語化
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/zod-i18n.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

settings: 開発サーバーをhttpsで建てるように
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/src/graphql/execute.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

package: turborepoの導入
  .gitignore
  .graphqlrc.yaml
  apps/backend/package.json
  apps/frontend/package.json
  mise.toml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

settings: zed
  .lintstagedrc.yaml
  .vscode/settings.json
  .zed/settings.json
  apps/frontend/schema.gql
Due: prettier --write

settings: pnpm devで全てが始まるように
  .gitignore
  apps/backend/package.json
  apps/backend/prisma/migrations/20251211090856/migration.sql
  docker-compose.yaml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

package: upgrade
  apps/backend/package.json
  apps/frontend/package.json
  mise.toml
  pnpm-lock.yaml
Due: prettier --write

format
  .gitignore
  .prettierignore
  apps/frontend/schema.gql
  apps/frontend/src/components/ui/sonner.tsx
  apps/frontend/src/graphql/fragment-masking.ts
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  apps/frontend/src/graphql/index.ts
Due: prettier --write, pnpm --filter frontend exec eslint --fix

add README.md
  README.md
Due: prettier --write

fix
  .graphqlrc.yaml
  apps/frontend/src/app/signin/page.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

feature: タスク削除機能
  apps/frontend/src/components/common/TaskTable/columns.tsx
  apps/frontend/src/components/ui/alert.tsx
  apps/frontend/src/graphql/gql.ts
  apps/frontend/src/graphql/graphql.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter frontend exec eslint --fix

fix: タスク作成、タスク編集ページでタイトルを表示するように
  apps/frontend/src/app/new/page.tsx
  apps/frontend/src/app/tasks/[id]/page.tsx
  apps/frontend/src/components/common/TaskTable/columns.tsx
Due: prettier --write, pnpm --filter frontend exec eslint --fix

package: upgrade
  apps/backend/package.json
  apps/frontend/package.json
  pnpm-lock.yaml
Due: prettier --write
